* {
    box-sizing: border-box;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Teko', sans-serif;
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 120px 60px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "cabecalho"
        "navegacao"
        "principal"
        "rodape";
}

.cabecalho {
    grid-area: cabecalho;
    background-color: rgb(50, 119, 209);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 10px; */
    z-index: 1;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.178);
}

.cabecalho > h1 {
    margin: 0px;
    font-weight: 100;
    font-size: 3rem;
}

.cabecalho > h2 {
    margin: 0px;
    font-weight: 100;
    font-size: 2rem;
}

.principal {
    grid-area: principal;
    /* height: calc(100vh - 180px); */
    height: calc(100vh - 240px);
    /* background-color: rgb(240, 240, 240); */
    padding: 20px;
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.233);
}

.rodape {
    grid-area: rodape;
    background-color: rgb(238, 238, 238);
    /* position: sticky;
    bottom: 0px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 20px;
    color: rgb(199, 199, 199);
}

.modulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modulo {
    flex-basis: 32%;
    margin-bottom: 20px;
    border-radius: 3px;
}

.modulo > h3 {
    margin: 0px;
    color: #fff;
    font-weight: 300;
    font-size: 1.7rem;
    padding: 6px 20px;
    background-color: rgb(50, 119, 209);
}

.modulo > ul {
    margin: 0px;
    padding: 10px;
    list-style: none;
}

.modulo > ul > li {
    padding: 5px 3px 3px 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.modulo > ul > li > a {
    display: flex;
    padding-left: 5px;
    text-decoration: none;
    color: #333;
}

.modulo > ul > li:hover {
    background-color: rgb(221, 221, 221);;
}

.modulo.green { border: 2px solid rgb(180, 180, 180); }
.modulo.green > h3 { background-color: rgb(180, 180, 180);; }

.modulo.integracao { border: 2px solid rgb(170, 170, 170); }
.modulo.integracao > h3 { background-color: rgb(170, 170, 170); }

.modulo.basicos { border: 2px solid rgb(160, 160, 160); }
.modulo.basicos > h3 { background-color: rgb(160, 160, 160); }

.modulo.vars { border: 2px solid rgb(150, 150, 150); }
.modulo.vars > h3 { background-color: rgb(150, 150, 150); }

.modulo.estrutControl { border: 2px solid rgb(140, 140, 140); }
.modulo.estrutControl > h3 { background-color: rgb(140, 140, 140); }

.modulo.funcoes { border: 2px solid rgb(130, 130, 130); }
.modulo.funcoes > h3 { background-color: rgb(130, 130, 130); }

.modulo.poo { border: 2px solid rgb(120, 120, 120); }
.modulo.poo > h3 { background-color: rgb(120, 120, 120); }

.modulo.includes { border: 2px solid rgb(110, 110, 110); }
.modulo.includes > h3 { background-color: rgb(110, 110, 110); }

.modulo.namespace { border: 2px solid rgb(100, 100, 100); }
.modulo.namespace > h3 { background-color: rgb(100, 100, 100); }

.modulo.tratErro { border: 2px solid rgb(90, 90, 90); }
.modulo.tratErro > h3 { background-color: rgb(90, 90, 90); }

.modulo.sessaoCookie { border: 2px solid rgb(80, 80, 80); }
.modulo.sessaoCookie > h3 { background-color: rgb(80, 80, 80); }

.modulo.api { border: 2px solid rgb(70, 70, 70); }
.modulo.api > h3 { background-color: rgb(70, 70, 70); }

.modulo.formulario { border: 2px solid rgb(60, 60, 60); }
.modulo.formulario > h3 { background-color: rgb(60, 60, 60); }

.navegacao {
    grid-area: navegacao;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #555;
}

.navegacao > a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: rgb(50, 119, 209);
    padding: 2px 12px;
    margin-right: 10px;
    transition: background-color 0.23s;
}

.navegacao > a:hover {
    background-color: rgb(43, 103, 182);
}

span.user {
    flex-grow: 1;
    justify-self: flex-start;
    padding-left: 10px;
    font-size: 1.3rem;
    color: white;
}
