* {
    box-sizing: border-box;
    /* font-family: 'Nunito', sans-serif; */
    font-family: 'Teko', sans-serif;
}

body {
    height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 130px 1fr 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "cabecalho"
        "principal"
        "rodape";
}

.cabecalho {
    grid-area: cabecalho;
    background-color: rgb(50, 119, 209);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 10px; */
    z-index: 1;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.178);
}

.cabecalho > h1 {
    margin: 0px;
    font-weight: 100;
    font-size: 3rem;
}

.cabecalho > h2 {
    margin: 0px;
    font-weight: 100;
    font-size: 2rem;
}

.principal {
    grid-area: principal;
    height: calc(100vh - 180px);
    /* background-color: rgb(240, 240, 240); */
    padding: 20px;
}

.conteudo {
    position: relative;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.233);
}

.rodape {
    grid-area: rodape;
    background-color: rgb(238, 238, 238);
    /* position: sticky;
    bottom: 0px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2rem;
    padding-right: 20px;
    color: rgb(199, 199, 199);
}

.modulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modulo {
    flex-basis: 32%;
    margin-bottom: 20px;
    border-radius: 3px;
}

.modulo > h3 {
    margin: 0px;
    color: #fff;
    font-weight: 300;
    font-size: 1.7rem;
    padding: 6px 20px;
    background-color: rgb(50, 119, 209);
}

.modulo > ul {
    margin: 0px;
    padding: 10px;
    list-style: none;
}

.modulo > ul > li {
    padding: 5px 3px 3px 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.modulo > ul > li > a {
    display: flex;
    padding-left: 5px;
    text-decoration: none;
    color: #333;
}

.modulo > ul > li:hover {
    background-color: #dadada;
}

.modulo.green { border: 2px solid green; }
.modulo.green > h3 { background-color: green; }

.modulo.cadet { border: 2px solid cadetblue; }
.modulo.cadet > h3 { background-color: cadetblue; }

.modulo.blue { border: 2px solid rgb(50, 119, 209); }
.modulo.blue > h3 { background-color: rgb(50, 119, 209); }

.modulo.purple { border: 2px solid #713a71; }
.modulo.purple > h3 { background-color: #713a71; }

.modulo.black { border: 2px solid #1f1f1ffc; }
.modulo.black > h3 { background-color: #1f1f1ffc; }

.modulo.orange { border: 2px solid #d68f2e; }
.modulo.orange > h3 { background-color: #d68f2e; }

/* .modulo.darkgreen { border: 2px solid darkgreen; }
.modulo.darkgreen > h3 { background-color: darkgreen; }

.modulo.darkred { border: 2px solid darkred; }
.modulo.darkred > h3 { background-color: darkred; }

 */
